.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100px;
}

.top-nav-logo {
  margin-right: 30px;
}

.top-nav-ad {
  margin-right: 15px;
}

.top-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.top-nav-menu {
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  top: 150px;
  left: 0px;
  right: 0px;
  height: 200px;
}

.top-nav-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nav-menu-item-title {
  color: #2a2a2a;
  font-size: 16px;
  margin-top: 5px;
}

.top-nav-menu-item-sub-title {
  color: #f37b48;
  font-size: 14px;
  margin-top: 5px;
}

.top-menu-item-line {
  background-color: #f3f3f3;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  height: 110px;
}

#mi-phone-nav-item #mi-phone-nav-menu {
  display: flex;
  animation: top-nav-menu-height-animation 0.3s;
}

#red-mi-phone-nav-item:hover #red-mi-phone-nav-menu {
  display: flex;
  animation: top-nav-menu-height-animation 0.3s;
}

@keyframes top-nav-menu-height-animation {
  from { height: 0px; }
  to { height: 200px; }
}

.top-nav-item span {
  color: #333;
  cursor: pointer;
  font-size: 16px;
}

.top-nav span:hover {
  color: #ff6700;
}